<div class="">
    <div>
        <div class="form-body">
            <div class="row">
                <div class="form-holder">
                    <div class="form-content">
                        <div class="form-items">
                            <h3>Welcome to customer dashboard</h3>
                            <br/ >
                            <div class="text-end">
                                <a href="/cart-details"><div class="btn btn-success"><div>My cart</div></div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>