
{{> hero}}
<div class="row px-4 section-3-wrap">
    <h2 class="py-5">
        <center>HOW IT WORKS</center>
    </h2>
    <h4>
        <a href="https://www.youtube.com/watch?v=k8xRBTvbA0U" target="_blank"><div class="btn btn-outline-dark"><span class="">Watch the video </span><i class="fas fa-play-circle"></i></div></a>
    </h4>
    <div class="row g-2 g-md-5">
        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
            <div class="card">
                <img class="card-img-top rounded-circle" src="/images/how-it-works/how-1.jpeg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">We create original recipes.</h5>
                    <p class="card-text">Our in-house culinary team uses premium ingreduents to create unique menus and products for breafast, lunch, and dinner.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
            <div class="card">
                <img class="card-img-top rounded-circle"
                    src="https://i.ibb.co/VwJy4TD/Moroccan-Sweet-And-Spicy-Shrimp.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">You choose your preferences.</h5>
                    <p class="card-text">Choose from a variety of healthy, delicious meals each week that accomodate your dietary preferences.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
            <div class="card">
                <img class="card-img-top rounded-circle" src="https://i.ibb.co/6b13hbT/Seafood-Pasta.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">We deliver weekly-for free.</h5>
                    <p class="card-text">Your ingreduents are packaged in our temprature-conditioned boxes, so food stays fresh - even when you aren't at hpme.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
            <div class="card">
                <img class="card-img-top rounded-circle"
                    src="/images/how-it-works/how-4.jpeg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">You eat incredible meals every day.</h5>
                    <p class="card-text">Our recipes are created to cater to all cooking levels and styles. From a one-minute weekday breakfast to a delicious two-course dinner.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{{> topmeal}}