<div class="container-xxl py-5 category-menu-wrap">
    {{#each categoryMeal}}
    
    <div>
        <div class="text-center py-4">
            <h2>{{this.name}}</h2>
        </div>
        <div class="">
            <div class="row text-center container g-5 mealkt-card-wrap m-auto">
                {{#each this.data}}
                <div class="col-12 col-md-6 ">
                     
                    {{> mealkit this}}
                   
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    {{/each}}
</div>
    