<div class="">
    <div>
        <div class="form-body">
            <div class="row">
                <div class="form-holder">
                    <div class="form-content">
                        <div class="form-items">
                            <h3>Register Today</h3>
                            <p>Fill in the data below.</p>
                            <form class="requires-validation" novalidate method="POST"
                                onsubmit="registerFormSubmit(event)">

                                <div class="col-md-12">
                                    <div class="form-control-wrap ">
                                        <input class="form-control" id="firstName" type="text" name="firstName"
                                            placeholder="First Name" required>
                                        <div class="valid-feedback"></div>
                                        <div class="invalid-feedback"></div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-control-wrap ">
                                        <input class="form-control" id="lastName" type="text" name="lastName"
                                            placeholder="Last Name" required>
                                        <div class="valid-feedback"></div>
                                        <div class="invalid-feedback"></div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-control-wrap">
                                        <input class="form-control" id="email" type="text" name="email"
                                            placeholder="Email Address" required>
                                        <div class="valid-feedback">Email field is valid!</div>
                                        <div class="invalid-feedback">Email field cannot be blank!</div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-control-wrap">
                                        <input class="form-control" id="password" type="password" name="password"
                                            placeholder="Password" required>
                                        <div style="max-width: 450px; font-size:10px; color: #fff">Password that is
                                            between 8 to 12 characters and contains at least one lowercase letter,
                                            uppercase letter, number and a symbol.</div>
                                        <div class="valid-feedback">Password field is valid!</div>
                                        <div class="invalid-feedback">Password field cannot be blank!</div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-control-wrap">
                                        <input class="form-control" id="confirmPassword" type="password"
                                            name="confirmPassword" placeholder="Confirm Password" required>
                                        <div class="valid-feedback">Confirm Password field is valid!</div>
                                        <div class="invalid-feedback">Confirm Password field cannot be blank!</div>
                                    </div>
                                </div>

                                <div class="col-md-12 mt-3 pb-3">
                                    <div class="form-control-wrap">

                                        <label class=" mr-1" for="gender" id="gender">Gender: </label>

                                        <input type="radio" class="btn-check" name="gender" value="1" id="male" autocomplete="off"
                                            required>
                                        <label class="btn btn-sm btn-outline-warning" for="male">Male</label>

                                        <input type="radio" class="btn-check" name="gender"  value="2" id="female"
                                            autocomplete="off" required>
                                        <label class="btn btn-sm btn-outline-warning" for="female">Female</label>

                                        <input type="radio" class="btn-check" name="gender"  value="3" id="secret"
                                            autocomplete="off" required>
                                        <label class="btn btn-sm btn-outline-warning mt-2 mt-md-0"
                                            for="secret">Other</label>
                                        <div class="valid-feedback mv-up pt-2">You selected a gender!</div>
                                        <div class="invalid-feedback mv-up pt-2">Please select a gender!</div>
                                    </div>
                                </div>

                                <div class="form-check">
                                    <div class="form-control-wrap">
                                        <input class="form-check-input" id="term" name="term" type="checkbox"
                                            value="term" required>
                                        <label class="form-check-label">I confirm that all data are correct</label>
                                        <div class="invalid-feedback">Please confirm that the entered data are all
                                            correct!
                                        </div>
                                    </div>
                                </div>

                                <div class="form-button mt-3">
                                    <button id="submit" type="submit" class="btn btn-warning">Register</button>
                                </div>

                                <div id="form-error" class="pt-2 text-center" style="color: red;">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>